<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <header th:fragment="header">
            <h1>VoxPopulity</h1>
            <nav>
                <a href="/profile">Mi perfil</a>
                <a href="/logout">Cerrar Sesión</a>
                <a href="/home">Inicio</a>
            </nav>
        </header>

        <footer th:fragment="footer">
            <h2>VoxPopulity - Derechos Reservados - 2025</h2>
        </footer>
    </body>
</html>
