<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        

        <header th:fragment="header">
            <h1>VoxPopulity</h1>
            <nav>
                <a href="/createPost">Crear Post</a> 
                <div class="separator"></div>
                <a href="/home">Inicio</a>           
                <div class="separator"></div>
                <a href="/profile">Mi perfil</a>
                <div class="separator"></div>
                <a class="logout" href="/logout"><i class="bi bi-box-arrow-right"></i> </a>
            </nav>
        </header>

        <footer th:fragment="footer">
            <p>VoxPopulity Derechos Reservados 2025</p>
        </footer>
    </body>
</html>
