<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Post | VoxPopulity</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/styleComments.css"/>
        <link rel="stylesheet" href="/styles/styles.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <script src="/js/CommentScript.js" defer=""></script>
    </head>
    <body>
        <div th:replace="_fragments::header"></div>
        <main>
            <section id="section-post">
                <div class="div-title-date">
                    <h2 style="color: #88ccff;" th:text="${post.tittle}"></h2>
                    <p class="p-date" th:text="${#temporals.format(post.createdDate, 'dd-MM-yyyy | HH:mm')}"></p>
                </div>
                <h3 th:text="${post.userName}"></h3>
                <p th:text="${post.content}"></p>
            </section>
            <section id="section-comments">
                <div id="header-comment">
                    <h2>Comentarios</h2>
                </div>
                <div th:if="${comments.isEmpty()}">
                    <p>No hay comentarios aún.</p>
                </div>
                <div class="div-comment" th:each="comment : ${comments}">
                    <div class="div-comment-data">
                        <div class="div-comment-header">
                            <div class="div-title-date">
                                <h2 th:text="${comment.userName}"></h2>
                                <p class="p-date" th:text="${#temporals.format(comment.createdDate, 'dd-MM-yyyy | HH:mm')}"></p>
                            </div>
                            <nav class="nav-action">
                                <a class="btn-update" onclick="editComment(event)" id="edit-${comment.commentId}" th:data-comment-id="${comment.commentId}" th:data-user-id="${comment.userId}">Editar</a>
                                <form th:action="@{'/comments/' + ${post.postId} + '/delete/' + ${comment.commentId}}" method="POST">
                                    <button class="btn-delete" type="submit" id="delete-${comment.commentId}" th:data-user-id="${comment.userId}">Eliminar</button>
                                </form> 
                            </nav>
                        </div>
                        <p th:text="${comment.content}"></p>
                    </div>
                    <div class="form-edit" th:id="'div-form-edit-' + ${comment.commentId}">
                        <form method="POST" th:action="@{/comments/{postId}/update/{commentId}(postId=${post.postId}, commentId=${comment.commentId})}" class="form-edit-comment">
                            <input type="hidden" id="user-id-logged" th:data-user-logged-id="${userIdLogged}">
                            <input type="text" th:value="${comment.content}" id="content-comment" name="content" maxlength="500">
                            <div class="div-edit-buttons">
                                <button class="btn-submit" type="submit">Actualizar</button>
                                <button type="button" id="btn-cancelar" th:data-comment-id="${comment.commentId}" onclick="cancelEdit(event)">Cancelar</button>

                            </div>
                        </form>
                    </div>
                </div>
                <div id="div-form-comment">
                    <form id="form-add-comment" th:action="@{/comments/{id}(id=${post.postId})}" th:object="${commentAdd}" method="POST">
                        <i class="bi bi-person-circle" id="icon-user"></i>
                        <input id="content" type="text" placeholder="Escribe un comentario" th:field="*{content}" maxlength="500">
                        <button class="btn-submit" type="submit">Enviar</button>
                    </form>
                </div>
            </section>
        </main>
        <div th:replace="_fragments::footer"></div>

    </body>
</html>
