<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Post | VoxPopulity</title>
    <link rel="stylesheet" href="styles/styles.css"/>
    <link rel="stylesheet" href="styles/stylePost.css"/>
    <link rel="icon" href="../images/icon-logo.png" type="image/x-icon">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-straight/css/uicons-regular-straight.css'>
    <script src="js/PostScript.js" defer=""></script>
</head>
<body>
    <div th:replace="_fragments::header"></div>
    <main>
        <section id="section-post">
            <div id="header-post">
                <h2>Crear nuevo post</h2>
            </div>
        <form id="form-post" th:action="@{/createPost}" th:object="${post}" method="POST">
            <label for="tittle">Titulo</label>
            <input type="text" id="tittle" placeholder="Titulo" th:field="*{tittle}" maxlength="50">
            <label for="content">Contenido</label>
            <textarea id="content" placeholder="Contenido" th:field="*{content}" maxlength="500"></textarea>
            <button type="submit" id="btn-post">Crear post</button>
        </form>
        </section>
    </main>
    <div th:replace="_fragments::footer"></div>

</body>
</html>