<!DOCTYPE html>
<html>
    <head>
        <title>404 | VoxPopulity</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../images/icon-logo.png" type="image/x-icon">
        <link rel="stylesheet" href="styles/errorStyle.css"/>
    </head>
    <body>
        <main>
            <h1><span class="spantitle">VoxPopulity</span> Error 404</h1>
            <h2>¡Página no encontrada!</h2>
            <p>La página que estás buscando no existe.</p>
            <p>Intenta insertar el link adecuada o puedes regresar al inicio con el botón de abajo </p>
            <a href="/">Volver al inicio</a>
        </main>
    </body>
</html>
