<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>VoxPopulity</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="styles/loginStyle.css"/>
        <script src="js/LoginScript.js" defer=""></script>
    </head>
    <body>
        <header>
            <h1>VoxPopulity</h1>
            <nav>
                <a href="/register">Registrarse</a> 
            </nav>
        </header>
        <main class="main-container">
            <section>
                <h2>LOGIN</h2>
                <p style="color:#E3170A;" th:text="${message}"></p>
                <form id="login-form" action="/login-submit" method="post">
                    <div>
                        <label for="email">Correo electronico</label>
                        <input type="text" name="email" placeholder="Ingrese su correo">
                    </div>
                    <div>
                        <label for="password">Contraseña</label>
                        <input type="password" name="password" placeholder="Ingrese su contrasñea">
                    </div>
                    <input id="btn-login" type="submit" value="Ingresar" />
                </form>
            </section>
        </main>
    </body>
</html>
