<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Register | VoxPopulity</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../images/icon-logo.png" type="image/x-icon">
        <link rel="stylesheet" href="styles/registerStyle.css"/>
        <script src="js/RegisterScript.js" defer=""></script>
    </head>
    <body>
        <header>
            <div style="display: flex; gap:15px; text-decoration: none;">
                <img src="../images/icon-logo.png" width="48" height="48" alt="alt"/>
                <h1>VoxPopulity</h1>
            </div>
            <nav>
                <a href="/login">Iniciar Sesión</a> 
            </nav>
        </header>
        <main>
            <div style="display: flex; gap:15px; align-items:center; margin-bottom: 15px;">
                <h2 style="margin: 0;">Registrarme</h2>
                <h3 class="message" style="color:#E3170A; margin: 0;" th:text="${message}"></h3>
            </div>
            <form id="user-register" action="/submit-register" method="post">
                <div class="form-container-grid">
                    <div>
                        <label for="name">Nombre</label>
                        <input type="text" name="name" placeholder="Inserte su nombre">
                    </div>
                    <div>
                        <label for="name">Apellidos</label>
                        <input type="text" name="last_name" placeholder="Inserte sus apellidos">
                    </div>
                    <div>
                        <label for="name">Correo</label>
                        <input type="text" name="email" placeholder="Inserte su correo">
                    </div>
                    <div>
                        <label for="name">Nombre de usuario</label>
                        <input type="text" name="username" placeholder="Inserte su nombre de usuario">
                    </div>
                </div>
                <div>
                    <label for="name">Contraseña</label>
                    <input type="password" name="password" placeholder="Ingrese su contraseña">
                </div>
                <div>
                    <label for="name">Repetir contraseña</label>
                    <input type="password" name="pass" placeholder="Vuelva a ingresar su contraseña">
                </div>
                <input id="btn-register" type="submit" value="Registrarme" name="btn_form" />
            </form>   
        </main>

    </body>
</html>
