<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Actualizar Post | VoxPopulity</title>
        <link rel="stylesheet" href="/styles/styles.css"/>
        <link rel="stylesheet" href="/styles/styleCreatePost.css"/>
        <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-straight/css/uicons-regular-straight.css'>
        <script src="/js/UpdatePostScript.js" defer=""></script>
    </head>
    <body>
        <div th:replace="_fragments::header"></div>
        <main>
            <section id="section-update-post">
                <h2>Actualizar post</h2>
                <form id="form-update-post" th:action="@{/update/{postId}(postId=${post.postId})}" method="POST" onsubmit="validateForm()">
                    <label for="tittle">Titulo</label>
                    <input type="text" id="title" placeholder="Titulo" th:value="${post.tittle}" name="title" maxlength="50">
                    <label for="content">Contenido</label>
                    <textarea id="content" placeholder="Contenido" th:text="${post.content}" name="content" maxlength="500"></textarea>
                    <button type="submit" id="btn-update">Actualizar</button>
                </form>
            </section>
        </main>
        <div th:replace="_fragments::footer"></div>

    </body>
</html>