*{
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    font-size: 16px;
    margin: 0;
    background: radial-gradient(#2c3034 , #232829);
    box-sizing: border-box;
    color: #f4f6fA;
}

main{
    flex-direction: column;
    display:flex;
    align-items: start;
}

h2, p, a{
    margin: 0;
}

p{
    color: #D3DAEA;
    font-size: 1.2rem;
}

a{
    font-weight: bold;
    margin-top: 35px;
    text-decoration: none;
    color: #a8b9f9;
    padding: 10px 50px;
    border: 2px solid #a8b9f9;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #a8b9f9;
    transition: all 0.3s ease;

    &:hover{
        background: #a8b9f9;
        color: #232829;
    }
}

h1{
    margin: 0;
    color: #D3DAEA;
    font-size: 3.5rem;

    & .spantitle{
        text-shadow: 0 0 5px #a8b9f9;
        font-size: 4rem;
    }
}

h2{
    margin-bottom: 35px;
}